
{% set url =path('ads_show', {'slug': ad.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambre, <strong>{{ ad.price }}€/nuit</strong> <br>
            {% if ad.comments | length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.avgRatings } %}
            {% else %}
                <small>0 avis</small>
            {% endif %}
        </div>
        <a href="{{ url }}">
            <img class="img-card" src="{{ ad.coverImage }}" alt="{{ ad.title }}" title="{{ ad.title }}" width="1000" height="400">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url }}">{{ ad.title }}</a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-secondary">En savoir +</a>
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-primary">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>